<div class="row">
    <p>Create a new Blog post</p>
    <form action="/posts" name="sentMessage" id="contactForm" method="POST" novalidate>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Blog Title" id="title" required data-validation-required-message="Please enter the title of the blog post." name="title">
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Summary</label>
                <textarea rows="5" class="form-control" placeholder="Summary" id="summary" required data-validation-required-message="Please enter the summary of the blog post." name="summary"></textarea>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Content of the Post</label>
                <textarea rows="5" class="form-control" placeholder="Contents" id="contents" required data-validation-required-message="Please enter the contents of the blog post." name="content"></textarea>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-default">Send</button>
            </div>
        </div>
    </form>
</div>